.form {
  margin: auto;
  width: 50%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .errorMessage {
    display: block;
    color: white;
    background-color: rgb(219, 61, 61);
    max-width: 20rem;
    margin: 0 auto 1rem;
    padding: 0.2rem 2rem;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
}

@media (max-width: 1300px) {
  .form {
    width: 100%;
  }
}
