.main {
   top: calc(50% - 10rem);
   position: absolute;
   left: calc(50% - 15rem);
   min-height: 20rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.main form {
   max-width: 30rem;
}

