.App {
  text-align: center;
  font-family: WorkSans;
  position: relative;
  min-height: 30rem;
}

.sideMenuContainer {
  position: absolute;
  top: calc(50% - 15rem);
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
