.side-menu {
  position: relative;
  height: 8rem;
}

/* Button speeddial */
.side-menu div.button {
  width: 30rem !important;
  height: 11rem !important;
  position: absolute;
  left: -27rem;
  border-radius: 0 1rem 1rem 0 !important;
  background-color: black;
  color: white;
  border: none;
  transition: left 0.8s ease-in-out;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.side-menu div.open{
  left: 0rem !important;
}

.side-menu div p {
  text-align: left;
  padding: 0 0.5rem;
}
.side-menu div span {
  padding: 0 0.95rem;
  font-size: 1.5rem;
}
.side-menu div.divider {
  border-left: 0.3rem solid white;
  height: 100%;
}